<?xml version="1.0"?>
<robot name="robot1" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="width" value="0.2" />
  <xacro:property name="bodylen" value="0.3" />

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="${width}" length="${bodylen}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${width}" length="${bodylen}"/>
      </geometry>
    </collision>
    <xacro:default_inertial mass="10"/>
  </link>

  <link name="camera_link">
      <visual>
          <geometry>
              <box size="0.01 0.03 0.03"/>
          </geometry>
          <material name="red"/>
      </visual>
  </link>

  <joint name="camera_joint" type="fixed">
      <parent link="base_link"/>
      <child link="camera_link"/>
      <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
  </joint>

  <link name="camera_optical_link"/>

  <joint name="camera_optical_joint" type="fixed">
      <parent link="camera_link"/>
      <child link="camera_optical_link"/>
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <gazebo reference="camera_link">
      <sensor name="camera" type="depth">
          <pose> 0 0 0 0 0 0 </pose>
          <visualize>true</visualize>
          <update_rate>10</update_rate>
          <camera>
              <horizontal_fov>1.089</horizontal_fov>
              <image>
                  <format>R8G8B8</format>
                  <width>640</width>
                  <height>480</height>
              </image>
              <clip>
                  <near>0.05</near>
                  <far>8.0</far>
              </clip>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
              <frame_name>camera_frame</frame_name>
              <topic_name>camera_topic</topic_name>
          </plugin>
      </sensor>
  </gazebo>

</robot>
